<%# Local Variables
  - objects array
  - columns array
  - attr_ls array %>

<div class="card m-3 p-3">
  <table class="table table-hover">
    <thead>
      <th scope="col" class="text-primary">ID</th>
      <% for c in columns %>
        <th scope="col" class="text-primary"><%= c.titlecase =%></th>
      <% end %>
      <% for c in attr_ls %>
        <th scope="col" class="text-primary"><%= c.titlecase =%></th>
      <% end %>
      <th scope="col" class="text-primary"> View </th>
    </thead>
    <% for obj in objects %>
      <tr class="align-middle">
        <th scope="row"><%= obj.id %></th>
        <% for c in columns %>
          <th scope="row"><%= obj.send(c) =%></th>
        <% end %>
        <% for l in attr_ls %>
          <th scope="row">
              <%= obj.send(l).size =%>
          </th>
        <% end %>
        <th scope="row">
          <%= link_to "View Team", admin_team_path(obj.id), class: "btn btn-primary" %>
        </th>
      </tr>
    <% end %>
  </table>
</div>