<div class="container-sm mt-3">
    <nav class="mb-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <!-- The ruby tag <%= @tab == 0 ? 'active' : ''%> and the subsequent aria-selected value allows us to control which tab appears as selected on page load -->
            <button class="nav-link <%= @tab == 0 ? 'active' : ''%>" id="nav-sign-in-tab" data-bs-toggle="tab" data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in" aria-selected="<%= @tab == 0 ? 'true' : 'false' %>">Sign In</button>
            <button class="nav-link <%= @tab == 1 ? 'active' : ''%>" id="nav-sign-up-tab" data-bs-toggle="tab" data-bs-target="#nav-sign-up" type="button" role="tab" aria-controls="nav-sign-up" aria-selected="<%= @tab == 1 ? 'true' : 'false' %>">Sign Up</button>
            <button class="nav-link <%= @tab == 2 ? 'active' : ''%>" id="nav-reset-password-tab" data-bs-toggle="tab" data-bs-target="#nav-reset-password" type="button" role="tab" aria-controls="nav-reset-password" aria-selected="<%= @tab == 2 ? 'true' : 'false' %>">Reset Password</button>
        </div>
    </nav>
    <!-- This uses bootstrap javascript, found here: https://getbootstrap.com/docs/5.3/components/navs-tabs/#javascript-behavior -->
    <div class="tab-content" id="nav-tabContent">
        <!-- Each div renders one of the partials found at login/* -->
        <div class="tab-pane fade <%= 'show active' if @tab == 0%>" id="nav-sign-in" role="tabpanel" aria-labelledby="nav-sign-in-tab" tabindex="0">
            <%= render 'login/login_partials/sign_in', user: @user %>
        </div>
        <!-- The ruby tag <%= 'show active' if @tab == 1%> allows us to select which tab is shown based on the value of tab in the controller -->
        <div class="tab-pane fade <%= 'show active' if @tab == 1%>" id="nav-sign-up" role="tabpanel" aria-labelledby="nav-sign-up-tab" tabindex="0">
            <%= render 'login/login_partials/sign_up', user: @user %>
        </div>
        <div class="tab-pane fade <%= 'show active' if @tab == 2%>" id="nav-reset-password" role="tabpanel" aria-labelledby="nav-reset-password-tab" tabindex="0">
            <%= render 'login/login_partials/reset_password' %>
        </div>
    </div>
</div>